body {
  background: blanchedalmond;
}

* {
  border: red solid 1px;
}

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    gap: 20px 15px;
    min-width: 100%;
  }
  .a, .c {
    min-height: 15vh;
  }
  .b {
    min-height: 65vh;
  }

  @media (min-width: 1099px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .a {
      min-width: 100%;
      min-height: 28vh;
    }
    .b {
      justify-content: space-between;
      flex-direction: row;
      min-width: 170vh;
      margin: 1em;
    }
  
    .c {
      justify-content: space-between;
      flex-direction: row;
      min-width: 15vh;
      margin: 1em;
    }
  }

