body {
  background: blanchedalmond;
}

* {
  border: red solid 1px;
}

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    gap: 20px 15px;
    min-width: 100%;
  }
  .a, .c {
    flex-wrap: wrap;
    min-height: 15vh;
  }
  .b {
    flex-wrap: wrap;
    min-height: 65vh;
  }

  @media (min-width: 1099px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .a, .b, .c {
      margin: 1em;
    }    

    .a {
      min-width: 98%;
    }

     .b {
      flex-grow: 1;
      max-height: 85vh;
     }
  
    .c {
      min-width: 25vh;
    } 
  }

